<form action="/recipes" method="POST">
    Recipe Name: <input id="name" type="text" name="name" /><br>
    Recipe Ingredients: <textarea id="ingredients" type="text" name="ingredients"></textarea><br>
    Recipe Cook Time: <input id="cook_time" type="text" name="cook_time" /><br>
    <input type="submit" value="Submit">
</form>