<h1>Add A Recipe</h1>
<form method="POST" action="/recipes">
Recipe Name<input type="text" id="name" name="name"><br>
Ingredients<input type="text" id="ingredients" name="ingredients"><br>
Cook Time:<input type="text" id="coo_time" name="cook_time"><br>
<input type="submit" name="submit" id="submit" value="Submit Recipe">
</form>